body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    background: white
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    /* padding: 30px; */
    text-align: center;
    background-color: #00ffff;
    color: white;
    width: 100vw;
    height: 10vw;
    font-size: 15vw;
    z-index: 1;
    overflow: hidden;

}

.header_text {
    position: absolute;
    top: 5;
    bottom: 0;
    width: 100vw;
    cursor: pointer;
    line-height: 0.666;
}

.header:hover {
    background-color: white;
}

.header_text:hover {
    color: #00ffff;
}

.background {
    position: fixed;
    top: 2.5vw;
    bottom: 5vw;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
    z-index: -1;
}

.first {
    position: relative;
    margin: auto;
    margin-top: 12vw;
    margin-bottom: 0;
    justify-content: space-between;
    display: flex;
    height: 30vh;
    overflow: scroll;
    width: 60vw;
    padding: 1vh;
    margin-bottom: 0;
    font-size: 2vh;
    background: #fafafa
}

.project {
    position: relative;
    margin: auto;
    margin-top: 3vh;
    margin-bottom: 0;
    justify-content: space-between;
    display: flex;
    height: 30vh;
    overflow: scroll;
    width: 60vw;
    padding: 1vh;
    margin-bottom: 0;
    font-size: 2vh;
    background: #fafafa
}

.thumbnail {
    width: 43%;
    object-fit: cover;
    outline: 0px solid black;
}

.proj_desc {
    display: flex;
    flex-direction: column;
    text-align: justify;
    justify-content: space-between;
    width: 53%;
    outline: 0px solid black;
}

.proj_title {
    width: 100%;
    font-weight: 600;
    font-size: 2.5vh;
    outline: 0px solid black;
}

.desc_text {
    width: 100%;
    height: 75%;
    outline: 0px solid black;
}

.versions {
    display: flex;
    justify-content: flex-start;
}

.live-code {
    margin-right: 2vw;
    margin-top: 2vh;
    margin-bottom: 3vh;
    padding: 0.5vh;
    outline: 1px solid #606060;
    transition: background-color 0s;
}

.live-code:hover {
    background-color: #606060;
}

.title {
    position: relative;
    overflow: visible;
    text-align: center;
    width: 100vw;
    height: 5vw;
    font-size: 3vw;
    background-color: purple;
    color: white;
}

.title_text {
    position: absolute;
    bottom: 0.8vw;
    width: 100vw;
}

.content {
    position: relative;
    top: 5vw;
    margin: 5vw;
    text-align: justify;
    line-height: 1.5;
}

* {
    box-sizing: border-box;
}

.column {
    float: right;
    width: 48%;
    padding: 5px;
    margin: 1% 1% 1% 1%;
    cursor: pointer;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

.footer {
    position: fixed;
    left: 0;
    text-align: center;
    background: silver;
    color: white;
    width: 100vw;
    /* height: 5vw; */
    font-size: 15px;
    bottom: 0;
    /* line-height: 20px; */
}

.footer_text {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

.title {
    position: relative;
    overflow: visible;
    text-align: center;
    width: 100vw;
    height: 5vw;
    font-size: 3vw;
    background-color: purple;
    color: white;
    top: 10vw;
}

.title_text {
    position: absolute;
    bottom: 0.8vw;
    width: 100vw;
}

.references {
    padding: 0vw 5vw 0vw 5vw;
    background: #fafafa;
    margin: 0
}