 .container{
    display: flex;
    background-color: #fff;
 }

 .side-panel{
     width: 30vw;
     height: 100vh;
     overflow: hidden;
 }

 label{
     color: #464646;;
 }
 /* Side menu  */
 .side-menu{
    height: 100vh;
    width: 30vw;
 }

 .side-menu .title{
     height: 10vh;
     margin:0% !important;
     text-align: center;
 }

 .side-menu .share{
    height: 5vh;
    background-color:#F5F5F5;
    text-align: center;
    margin:0% !important;
    padding-top:9px;
    color: #464646;
    display: flex;
    justify-content: space-between;
    padding-left: 2vw;
 }

 .side-menu .layers{
     /* text-align: left; */
     padding:0px 8px;
 }

.setting{
    background-image: url('../images/MyMaps_Icons003.png');
    background-position: -1px -216px;
    height: 22px;
    width: 22px;
}

.menu{
    background-image: url('../images/MyMaps_Icons003.png');
    background-position: -1px -238px;
    height: 22px;
    width: 22px;
}

.search-button{
    background-image: url('../images/MyMaps_Icons003.png');
    background-position: -24px -238px;
    height: 22px;
    width: 22px;
}

/* Menu option */
.menu-option{
    position: absolute;
    top:3vh;
    left:26vw;
    z-index: 1800;
    display: block;
    background-color: #fff;
    padding:12px 0px;
    text-align: left;
    display: none;
    box-shadow: 0 8px 10px 1px rgba(0,0,0,0.14),
                 0 3px 14px 2px rgba(0,0,0,0.12), 
                 0 5px 5px -3px rgba(0,0,0,0.2);
}
.menu-option ul{
    padding: 0px;
}

.menu-option-item li{
    font-weight: 400;
    font-size: 15px;
    line-height: 40px;
    text-indent: 8px;
}
.menu-option-item li span{
    margin: 0px 8px;
}
.menu-option-item li:hover{
    background-color: #ddd;
}
/* Layers */
 input[type="checkbox"]{
     height: 0px;
     width: 0px;
     cursor: pointer;
     opacity:0;
 }

.checkmark{
    position: absolute;
    height: 20px;
    width: 20px;
    background-color: #ddd;
    top: 0;
    left: 0;
}

.checkbox-container{
    margin: 10px 4px;
    display: block;
    position: relative;
    padding-left: 28px;
}

.checkbox-container input:checked ~ .checkmark{
  background-color: #8934EB;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.checkbox-container input:checked ~ .checkmark:after {
  display: block;
}

.checkbox-container .checkmark:after {
  left: 5px;
  top: 3px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}


 .toggle-list{
    background-image: url('../images/MyMaps_Icons003.png');
    background-position: -1px -48px;
    height: 22px;
    width: 22px;
    color: transparent;
    cursor:pointer;
 }

 .toggle-list:focus{
    border:1px solid var(--brand-color);
 }

 .expand-toggle-list{
    background-image: url('../images/MyMaps_Icons003.png');
    background-position: -24px -48px;
    height: 22px;
    width: 22px;
    color: transparent;
 }

 .list{
    height: 30vh;
    transition: all .3s ease-in-out;
    overflow-y: hidden;
    margin-top: -2px;
 }

 .list-expand{
    height: 76vh;
    overflow-y: scroll;
 }

 .list-item{
    margin-bottom: 4px;
    text-align: left;
 }

 .list-item img{
     height: 20px;
     width: 20px;
     margin-right: 4px;
 }

 .list-item:hover{
    background-color: var(--brand-color);
    color:#fff;
 }

 ul li{
    list-style-type: none;
    list-style: none;
    color:#464646;
 }

 /* Description */
 .content{
    height: 100vh;
    width:0;
    min-height: 100vh;
    position: fixed;
    top:0;
    left: 0;
    overflow: hidden;
    z-index:3;
    transition:0.3s ease-in-out;
 }

  #map{
    height:100vh;
    width:70vw;
}

.image-section{
    height: 30vh;
    overflow: hidden;
    transition: 0.2s;
}

.title{
    background-color: var(--brand-color);
    color: white;
    padding: 0px 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.2s;
}
.title-text{
    margin: 0px !important;
    color: #ffffff;
    font-size: 20px;
    font-weight: 400;
}

.fa-arrow-left{
    margin-right: 2px;
    font-size: 8px;
}

span{
    height: 22px;
    width: 22px;
}

.arrow{
    background-image: url('../images/MyMaps_Icons003.png');
    background-position: -1px -191px;
    height: 22px;
    width: 22px;
}

.direction{
    background-image: url('../images/MyMaps_Icons003.png');
    background-position: -24px -334px;
    height: 22px;
    width: 22px;
}

.header{
    color:#C9C9C9;
    font-size: 14px;
}

.bold{
    color: rgb(39, 39, 39);
    font-weight: 200;
    font-size: 16px;
    text-transform: lowercase;
}

.details{
    padding:4px  8px;
    transition: 0.3s;
     display: block;
}

.highlight-marker{
    background-color: #F5F4F4;
    border-radius: 8px;
    width:45px;
    height: 45px;
}

/* Search Function */
.search{
    height: 100vh;
    width:0vw;
    position: absolute;
    top:0;
    left: 0;
    z-index:2;
    overflow:hidden;
    transition:0.3s ease-in-out;
    background-blend-mode: darken;
}

.form{
    padding:3px 8px;
    display: flex;
    background-color: var(--brand-color);
}

.form-control{
    width: 20vw;
    border: 1px solid #fff;
    background-color: transparent;
    height: 30px;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    margin-left: 12px;
    font-size: 0.8em;
}

.form-control:focus{
    outline: none;
    color:#fff;
}

.form .arrow{
    margin-top: 13px;
}
/* Expand or collapse section */
.expand{
    width:30vw;
    margin-left: 0vw;   
    background-color: #fff;
 }


 /* Navigation bar */
.navbar{
    position: absolute;
    top:0;
    left: 0;
    width:0vw;
    height: 100vh;
    z-index: 4;
    overflow: hidden;
    box-shadow: 2px 2px 0.1em #ddd;
    text-align:left;
    transition: .3s;
}

.navbar-expand{
    width:25vw;
    background-color: #fff;
}

.nav li{
    font-size: 0.95em;
    margin-top:8px;
    margin-bottom: 12px;
}

li a{
    text-decoration: none;
    margin-left: 1.2em;
    color: #464646;
}

li a:hover{
    color: #000;
}

.cool-img{
    background-image: url('../images/maps.jpg');
    min-height: 25vh;
    width: 30vw;
    overflow: hidden;
    padding: 10px;
}

.close-button{
    margin-top: 8px;
    margin-left:21vw;
}

.menu-bar{
    background-color:#fff;
    width: 1.6em;
    height:2px;
    margin-bottom: 4px;
}

.menu-bar:first-child{
    transform: rotate(45deg) translateX(12%);
}

.menu-bar:last-child{
    transform: rotate(-45deg) translateX(12%);
}

h4{
    color: #fff;
    font-size: 1.4em;
    font-weight: 400;
    margin-top: 22vh;
    margin-bottom: 0px;
}

.navbar .section{
    border-bottom:1px solid #ddd;
    margin-bottom:8px;
    padding-left: 1.4em;
}

.nav{
    margin: 0% !important;
    padding: 0% !important;
}

 /* a class to disable the background*/
.user{
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:8px;
    bottom: 0px;
    left:0px;
}

.attribution{
    font-size:14px;
    font-style: italic;
    font-weight: 600;
    margin-top: 60px;
}

/* scrolL bar styles */
::-webkit-scrollbar{
    width: 8px;
    background-color: #8934EB;
}

::-webkit-scrollbar-thumb{
    background-color: #8934EB;
}

::-webkit-scrollbar-track{
    background-color: #C9C9C9;
}

/* leaflet custom  */
.leaflet-bar a{
    background-color: var(--brand-color) !important;
    color: #fff !important;
}

.leaflet-control-attribution a {
    color: #8934EB !important;
}

/* MEDIA QUERIES */
/*  */