 html, body{
     margin: 0;
     padding:0;
     font-family: 'Hevaltica', sans-serif;
 }

 .search-bar{
    padding: 0.5em;
 }

 .btn{
    font-size: 0.9em;
    padding: 2px 8px;
    border-radius: 5px;
    background-color:#0974d8cc;
    border:0px;
    color:white;
    height: 32px;
    box-shadow: 0.1em 0.2em #5c5a5fcc;
 }

 .btn:focus{
     outline: none;
 }

 .btn:focus{
     transform: scale(0.98);
 }

 .form-control{
     border:2px solid #dddddd;
     border-top: 0px;
     border-right: 0px;
     border-left: 0px;
     border-radius: 0px;
     width: 20%;
     padding: 2px 4px;
     height: 28px;
     font-size: 0.9em;
     transition: all .3s ease-in-out;
 }

 .form-control:focus{
     outline: none;
     width: 40%;
 }
 #map{
    height:90vh;
    width:100%;
}