 body{
    margin: 0;
    padding: 0;
 }
 #map{
    height:100vh;
    width:100vw;
}

h5{
    position: fixed;
    top:0%;
    left:40%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size:2em;
    color:rgb(187, 175, 181);
    z-index: 2000;
    margin-top: -0.2rem;
    color: #fff;
}



.legend{
    padding: 5px;
    display: inline-block;
    align-items: center;
}

.legend-info{
    bottom:4%;
    position: relative;
    border-radius: 50%;
    border:2px solid #e6b332c4;
    background-color:#e6b332c4;
    margin:3px;
    color: var(--text-color);
    text-align: center;
}

.legend h4{
    font-size: 1.2em;
    color: var(--white);
}

.legend-info > small{
     position: relative;
     align-items: center;
}


/* Popup Content */
.popup-content{
    margin-top:-18px;
    box-shadow: 1px 1px 0.2em #343434;
}

.popup-content .header{
    padding: 3px;
    background-color: #97e196;
    color:white;
    font-weight:bold;
    text-align: center;
    font-size: 1.3em;
}

.popup-content p{
    display: flex;
    justify-content: space-between;
    padding: 0px 3px;
}

.leaflet-popup-content{
    margin: 0 !important;
}
.leaflet-popup-content-wrapper{
    /*padding: 0px !important;*/
    overflow: hidden;
    width: 230px
}

.leaflet-popup-close-button{
    color: #fff !important;
    font-size: 1.2em;
}

.legend-income{
    font-family: 'Roboto', sans-serif;
    position: absolute;
    left: 1%;
    bottom:10vh;
    background-color: #ffffff80;
    z-index: 800;
    padding: 0.75em;
}

.legend__inner{
    display: flex;
    flex: 1;
    justify-content: space-evenly;
}

.legend-asthma{
    font-family: 'Roboto', sans-serif;
    position: absolute;
    right: 1%;
    bottom:10vh;
    background-color: #ffffff80;
    z-index: 800;
    padding: 0.75em;
}


.item{
    height: 1.2em;
    width:6vw;
}

.text div{
    margin-left: 0px !important;
}
